<footer>
  <div id="footer-socials">
    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
    <a href=""> <i class="fa-brands fa-square-instagram"></i> </a>
  </div>
  <p>&copy: Wanderlust Private Limited</p>
</footer>
