<% layout("/layouts/boilerplate.ejs") %>

<style>
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    width: fit-content;
    margin: auto;
    background-color: pink;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 7px;
    padding: 10px 20px;
  }
</style>

<div>
  <h2><%= message %></h2>
</div>
