/* NEW LISTING FORM  & EDIT LISTING FORM*/
.listing-form-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem;
 }
 
 form {
     display: flex;
     gap: 2rem;
 }
 
#left, #right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#left {
    min-width: 35vw;
}

 .input-group {
    display: flex;
    flex-direction: column;
 }

 
 input {
     padding: 5px 10px;
     font-size: 16px;
     border: 2px solid lightgrey;
     border-radius: 10px;
     font-size: 16px;
 }

i {
    cursor: pointer;
}

.box {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 1rem;
}

.box span {
    font-size: 13px;
}

 .box input {
     width: 100px;
     border-radius: 10px;
     padding: 0 10px;
 }
 
 .description {
     height: 90px;
     overflow-y: auto;
     border-radius: 5px;
     border: 2px solid lightgray;
     padding: 5px;
     font-size: 16px;
 }

 #searchedAddresses {
    display: flex;
        flex-direction: column;
        padding: 5px 10px;
        gap: 5px;
        border: none;
        margin-top: 10px;
 }

 #searchedAddresses div {
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
 }
 
 


 /* Media Queries */
 @media screen and (max-width:600px) {
    .listing-form-container input {
        width: 90vw;
    }
    .input-group .group {
        width: 90vw;
    }
    .description {
        width: 90vw;
    }
 }