/* LISTING DETAILS */
#listing-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

#listing-details {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.slider-container {
  height: 350px;
  overflow-x: hidden;
  position: relative;
}

.slider-images {
  display: flex;
}

img {
  width: 100%;
  height: 350px;
  flex-shrink: 0;
  border-radius: 15px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 160px;
  z-index: 10;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.prev-btn {
  left: 50px;
}

.next-btn {
  right: 50px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid lightgray;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  height: 120px;
  overflow-y: auto;
}
#reviews-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}
.review-form {
  /* width: 40%; */
  border: 2px solid lightgrey;
  padding: 5px 10px;
  flex-grow: 0.9;
}
.review-container {
  width: 55%;
  border: 2px solid lightgrey;
  padding: 5px 10px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.reviews {
  height: 280px;
  overflow: auto;
}
/* Map */
.map-wrapper {
  display: flex;
  justify-content: center;
}

#map {
  height: 50vh;
  width: 70vw;
  border: 2px solid gray;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  #map,
  #listing-details,
  #reviews-wrapper {
    width: 80vw;
  }
}

@media screen and (max-width: 900px) {
  #map,
  #listing-details,
  #reviews-wrapper {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  #reviews-wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .review-form,
  .review-container {
    width: 100%;
  }
  textarea {
    height: 150px;
  }
}
