*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0 2rem;
}

.wrapper {
    min-height: calc(100vh - 3.5rem - 3.5rem);
}

p {
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: black;
}

button {
    margin: 0 !important;
}

/* NAVBAR */
#navbar {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
}
#nav-menu {
    display: none;
}

#nav-right {
    display: flex;
}
#navbar-left-nav {
    display: flex;
    align-items: center;
}

#navbar-middle {
    display: flex;
    gap: 5px;
    align-items: center;
}

#navbar-middle #search-input {
    border-radius: 3rem;
    border: 1px solid gray;    
    padding: 3px 10px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 15px;
}

.fa-compass {
    font-size: 2rem;
}

#signup-btn, #login-btn {
    font-size: 1rem;
}

#signup-btn:hover, #login-btn:hover {
    opacity: 0.7;
}

#user-menu {
    display: none;
}


/* Flash Message */
.flash-container {
    background-color: pink;
    padding-left: 10px;
    min-height: 2.5rem;
    max-height: auto;
    width: fit-content;
    margin: 0.3rem auto;
    line-height: 2.5rem;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.close-flash {
    height: 2.5rem;
    width: 55px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2rem;
}

.close-flash:hover {
    border: 1px solid gray;
}


/* FORM VALIDATION */


/* FOOTER */
footer {
    display: flex;
    height: 3.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(211, 211, 211, 0.5);
    font-size: 1rem;
}


#footer-socials a {
    margin-right: 10px;
    font-size: 1.2rem;
    color: black;
}

/* #footer-info-links a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
} */

#footer-info-links a:hover {
    text-decoration: underline;
}


/* Media Queries */
@media screen  and (max-width:1100px){
    body {
        padding: 0 2rem;
    }
}

@media screen  and (max-width:950px){
    .nav-link {
        margin-right: 5px;
    }
}

@media screen  and (max-width:800px){
    #navbar-right-nav {
        display: none;
    }
    #user-menu {
        display: inline;
    }
}

@media screen and (max-width:700px) {
    #nav-right {
            display: none;
        }
    
        #nav-menu {
            display: flex;
        }
                 #navbar-left-nav {
                     display: none;
                 }
}


@media screen  and (max-width:450px){
   #search-input {
     width: 40vw;
   }
   body {
    padding: 0 10px;
   }
}

