<% layout("/layouts/boilerplate.ejs") %>

<link rel="stylesheet" href="/css/signup-login.css" />

<div id="sign-up-form-container">
  <form method="post" action="/signup" id="sign-up-form">
    <h2>Sign Up on Wanderlust</h2>

    <div class="input-group">
      <label for="username">Username</label> <br />
      <input type="text" name="username" id="username" required />
    </div>

    <div class="input-group">
      <label for="username">Email</label> <br />
      <input type="text" name="email" id="email" required />
    </div>

    <div class="input-group">
      <label for="username">Password</label> <br />
      <input type="password" name="password" id="password" required />
    </div>

    <button id="signup-btn">Register</button>
  </form>
</div>
